body
{background-color: #218380;
}

header
{width:100%;
}

footer
{width:100%;
}

.topnav {
    overflow: hidden;
}

.topnav a {
  float: left;
  color: #EBC1D3;
  text-align: left;
  padding: 20px 30px 0px 30px;
  font-size: 32px;
  font-weight: 400;
  font-family: 'Jost', sans-serif;
}


.topnav a:hover {
  fill: #D81159;
}

.topnav-right {
  float: right;
  padding 14px 10px 16px 0px;
}

.header-img {
  height: 35px;
}

.header-img: hover {
  fill: #D81159;
}

.bottom-nav
{
  color: #EBC1D3;
  text-align: center;
  padding: 30px 30px 30px 30px;
  font-size: 26px;
  font-weight: 400;
  font-family: 'Jost', sans-serif;
}

.body
{
max-width: 600px;
min-width: 200px;
width: 95%;
margin:60px auto auto auto;
background-color:#218380;
color: #EBC1D3;
font-family: 'Jost', sans-serif;
text-align:left;}

.body-about
{
max-width: 1200px;
min-width: 200px;
width: 95%;
margin:60px auto auto auto;
background-color:#218380;
color: #EBC1D3;
font-family: 'Jost', sans-serif;
text-align:left;}
h1
{font-size: 32px;
color: #EBC1D3;
font-weight: 400;
font-family: 'Jost', sans-serif;}

h2
{font-size: 26px;
margin: 5 0 0 0px;
color: #EBC1D3;
font-weight: 400;
font-family: 'Jost', sans-serif;}

h4
{font-size: 26px;
color: #EBC1D3;
padding: 10 0 0 0px;
font-weight: 250;
font-family: 'Jost', sans-serif;
padding-top: 0px;}

p
{font-size: 20px;
color: #EBC1D3;
font-weight: 250;
padding: 0px 0px 0px 0px;
font-family: 'Jost', sans-serif;}

strong{
  font-weight: 400;
}

ol{
padding: 0px 0px 0px 0px;
}


ul{
  padding: 0px 0px 0px 0px;
}

li
{font-size: 20px;
font-weight: 250;
padding: 0px 0px 20px 0px;
font-family: 'Jost', sans-serif;}
.slimlist{
  padding: 0 0 0 0;
}
.boldlist{
  font-weight: 400;
}

.selectedwork
{padding-top: 5px;
padding-bottom: 0px;}

/* unvisited link */
a:link {
font-weight: 400;
color: #EBC1D3;
}

/* visited link */
a:visited {
  font-weight: 400;
}

/* mouse over link */
a:hover {
  font-weight: 400;
color: #D81159;
}

/* selected link */
a:active {
  font-weight: 400;
color: #D81159;
}
